[deploy]
startCommand = "./start.sh"

[environments.production]
variables = { 
  NODE_ENV = "production",
  PORT = "3001",
  HOST = "0.0.0.0",
  DATABASE_URL = "postgresql://postgres:PKzoOzvUtjJgxIzKpOoXALIIAfLuHWls@centerbeam.proxy.rlwy.net:13082/railway"
}