[deploy]
startCommand = "node index.js"

[environments.production]
variables = { 
  NODE_ENV = "production",
  DATABASE_URL = "postgresql://postgres:PKzoOzvUtjJgxIzKpOoXALIIAfLuHWls@centerbeam.proxy.rlwy.net:13082/railway"
}